<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <h3>Links</h3>
  <input ng-model="search">

  <h3 ng-if="!data.length">
    No links to click yet! Please add some in the <a href="/#/shorten">shorten</a> tab :)
  </h3>

  <ul>
    <li ng-repeat="link in data | filter:search">
      <!-- title of the page -->
      <div class="title" ng-click="goToLink($index)"><a href={{link.url}}>{{link.title}}</a></div>
      <!-- original url -->
      <div class="orig-url">{{link.url}}</div>
      <!-- shortened url -->
      <div class="short-url">{{link['base_url'] + '/api/links/' + link.code}}</div>
      <!-- # of visits -->
      <div class="visits-num">{{link.visits}}</div>
    </li>
  </ul>

</div>
